body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #313131;
  overflow-x: hidden;
  line-height: 1;
  background: url('./assets/images/loading.gif') no-repeat center 250px;
}

#app {
  height: 100%;
}

/* 弱提示弹框布局 */

.weak-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 9px 20px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  background-color: rgba(75, 75, 75, 0.85);
  z-index: 999;

  &.alert-show {
    animation: show 2s;
  }

  @keyframes show {
    0% {
      transform: translateY(-100%);
    }
    20% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0);
    }
    80% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.break {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.reply_content {
    padding: 0 15px;
    margin-bottom: 15px;
    img {
        width: auto\9;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border: 0;
        -ms-interpolation-mode: bicubic;
    }
    p {
        line-height: 1.3;
    }
}

.no-data {
    width: 100%;
    height: 100%;
    padding: 40% 0;
    color: #d4d4d4;
    display: inline-block;
    font-size: 18px;
    text-align: center;
}

.user {
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
    display: flex;
    .tab {
        display: inline-block;
        width: 40px;
        color: #626262;
        border-radius: 5px;
        background-color: #e7e7e7;
        margin-right: 10px;
        text-align: center;
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
    }
    .good {
        background-color: #80bd01;
        color: #fff;
    }
    .title {
        font-size: 18px;
        font-weight: bold;
        display: block;
        width: 100%;
        flex: 1;
        @extend .break;
    }
    .head {
        display: inline-block;
        width: 45px;
        height: 45px;
        margin-right: 10px;
        border-radius: 10px;
        img {
            width: 45px;
            border: 2px solid #fff6e6;
            border-radius: 50%;
        }
    }
    .info {
        overflow: hidden;
        display: block;
        width: 100%;
        flex: 1;
        &:after {
            clear: both;
        }
        .t-title {
            font-size: 18px;
            font-weight: bold;
            width: 100%;
            color: #333;
            @extend .break;
        }
        .mt12 {
            margin-top: 12px;
        }
        .cl {
            display: inline-block;
            width: 68%;
            .name {
                color: #626262;
            }
            .mt10 {
                margin-top: 10px;
            }
        }
        .cr {
            width: 30%;
            display: inline-block;
            text-align: right;
            .name {
                margin-top: 10px;
                color: #80bd01;
                font-size: 10px.4;
            }
        }
    }
}

.about-info dt, .posts-list h3, .title, .topic-reply {
    color: #2c3e50;
    font-size: 16px;
    line-height: 1.5;
}

.about-info dt, .posts-list h3, .text-overflow, .title, .topic-reply {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.topic-reply strong {
    color: #42b983;
}